@import "root";
@import "font";

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
p {
    margin: 0;
}

body {
    min-width: 320px;
    font-family: $font-family;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.burger {
    display: none;
}

.btn-reset {
    margin: 0;
    padding: 0;
    border: none;
    color: $white-color;
    background-color: $second-color;
    cursor: pointer;
}

.stop-scroll {
    overflow: hidden;
}
