@font-face {
    font-display: swap;
    font-family: Haval;
    font-style: "normal";
    font-weight: 300;
    src:
        url(https://cdn2.kodixauto.ru/projects/haval/v1.209.2/build/assets/fonts/Haval-300.woff2) format("woff2"),
        url(https://cdn2.kodixauto.ru/projects/haval/v1.209.2/build/assets/fonts/Haval-300.woff) format("woff");
}

@font-face {
    font-display: swap;
    font-family: Haval;
    font-style: "normal";
    font-weight: 400;
    src:
        url(https://cdn2.kodixauto.ru/projects/haval/v1.209.2/build/assets/fonts/Haval-400.woff2) format("woff2"),
        url(https://cdn2.kodixauto.ru/projects/haval/v1.209.2/build/assets/fonts/Haval-400.woff) format("woff");
}

@font-face {
    font-display: swap;
    font-family: Haval;
    font-style: "normal";
    font-weight: 500;
    src:
        url(https://cdn2.kodixauto.ru/projects/haval/v1.209.2/build/assets/fonts/Haval-500.woff2) format("woff2"),
        url(https://cdn2.kodixauto.ru/projects/haval/v1.209.2/build/assets/fonts/Haval-500.woff) format("woff");
}
