@import "font";

$white-color: #fff;
$black-color: #000;
$gray-color: #f3f3f3;
$gray2-color: #a1a1a1;
$gray3-color: #e7e7e7;
$second-color: #00cabf;
$font-family: "Haval", sans-serif;

$color-1: #000;
$color-2: #e7e7e7;
$color-3: #a1a1a1;
$color-4: #e74c3c;
